// _variables.scss

// Colors
$primary-color: #4154f1;
$secondary-color: #2eca6a;
$danger-color: #ff771d;
$success-color: #d1e7dd;
$info-color: #cff4fc;
$light-bg-color: #f6f9ff;
$dark-bg-color: #343a40;

//Sidebar
$sidebar-primary-color: #4154f1;
$sidebar-secondary-color: #002970;
$sidebar-bg-color: #F7F9FF;
$sidebar-bg-default-color: #FFFFFF;

//Dashboard
$dashboard_color_1: #aab7cf;
$dashboard_color_2: #4154f1;
$dashboard_color_3: #012970;
$dashboard_color_4: #2eca6a;
$dashboard_color_5: #ff771d;
$dashboard_color_6: #888;
$dashboard_color_7: #777777;
$dashboard_background-color_1: #eceefe;

//Help
$help_color_1: #4154f1;
$help_color_2: #6980aa;

//Profile
$profile_color_1: #2c384e;
$profile_color_2: rgba(1, 41, 112, 0.5);
$profile_color_3: #012970;
$profile_color_4: rgba(1, 41, 112, 0.6);

// Fonts
$font-family: "Open Sans", sans-serif;
$heading-font: "Nunito", sans-serif;

// Sizes
$font-size-base: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
