// _variables.scss

// Colors
$primary-color: #4154f1;
$secondary-color: #2eca6a;
$danger-color: #ff771d;
$success-color: #d1e7dd;
$info-color: #cff4fc;
$light-bg-color: #f6f9ff;
$dark-bg-color: #343a40;

// Fonts
$font-family: "Open Sans", sans-serif;
$heading-font: "Nunito", sans-serif;

// Sizes
$font-size-base: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
